/*id serve apenas para quando precisamos identificar uma única TAG, ja a class serve para identificar várias que irão assumir um mesmo estilo.

ID deve ser único.
*/

body {
  height: 100%;
  width: 100%;
}

.divPai {
  display: flex;
}

#Ola {
  background-color: red;
}

/*
Style in document Counter.jsx
*/

.btn {
  border: none;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background .3s;
  border-radius: 5px;
}

.btn-count{
  position: relative;
}

.btn-reset {
  position: static;
  margin-left: 10px;
  color: red;
}
